### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.idea
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# rollup.js default build output
dist/

# vitepress build output
/dist
.vitepress/cache
.vitepress/dist
/node_modules/
